<!doctype html>
<html ng-app="app">
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script language="javascript" type="text/javascript">
      angular.module('app', []);
      
      //Whatever you put on the controller scope,
      //will be availalble in the HTML element bound to the controller.
      function MyController($scope){
        $scope.newMessage = "Hi";
        $scope.messages = ["Happy New Year!", "Gong Xi Gong Xi !"];
        
        $scope.newMessage2 = "OMG";
        $scope.messages2 = ["She keeps talking!"];
        
        $scope.add = function(){
          $scope.messages.push($scope.newMessage);
        };
        
        $scope.add2 = function(){
          $scope.messages2.push($scope.newMessage2);
        };
      }

    </script>
  </header>
  
  <body ng-controller="MyController">
    <h1 style="color:red">Your CNY CHEATCODE</h1>
    Your greetings:<br>     
    <input type="text" ng-model="newMessage">
    <input type="submit" ng-click="add()" value="BOOM!">
    <br><br>
    <b>Greetings list:</b><br>
    <ul>
      <li ng-repeat="message in messages">
        {{message}}
      </li>
    </ul>
    <br>
    Your awkward moments:<br>
    <input type="text" ng-model="newMessage2">
    <input type="submit" ng-click="add()" value="BOOM!">
    <br><br>
    <b>Awkward list:</b><br>
    <ul>
      <li ng-repeat="message in messages2">
        {{message}}
      </li>
    </ul>
  </body>
  
</html>
